*,*::before,*::after{
    box-sizing: border-box;
}
:root{
    --primary-color:#04B90B;
    --body-bg:#FCFCFD;
    --title-color:#23262F;
    --subtitle-color:#777E90;
    --text
    --box-shadow:0px 10px 27px rgba(35,35,35,0.05);

}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

/* Components */
.container{
    width:100%;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: auto;
    margin-right: auto;
}