*,*::before,*::after{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

/* Components */
.container{
    width:100%;
    padding-left: 3rem;
    padding-: 3rem;
    
}