*,*::before,*::after{
    box-sizing: border-box;
}
:f
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

/* Components */
.container{
    width:100%;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: auto;
    margin-right: auto;
}