@font-face {
    font-family: "Poppins Light";
    src: url("../fonts/Poppins/Poppins-Light.ttf") format("TrueType");
}
@font-face {
    font-family: "Poppins Medium";
    src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins Regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Alice Regular";
    src: url("../fonts/Alice/Alice-Regular.ttf") format("truetype");
}