@media (max-width: 420px) {
}
@media (min-width: 576px) {
  .container {
    width: 54rem;
  }
}
@media (min-width: 768px) {
  .container {
    width: 72rem;
  }
  .nav {
    padding: 3rem 0;
  }
  .app-logo {
    height: 4rem;
  }
  .nav-column {
    display: flex;
  }
  .nav-column-mobile {
    display: none;
  }
  .hamburger-icon {
    display: none;
  }
}
@media (min-width: 992px) {
  .container {
    width: 96rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 137rem;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 157rem;
  }
}
@media (min-width: 1900px) {
  .container {
    width: 187rem;
  }
}
