@media (max-width: 420px) {
  .hero__image-wrapper {
    height: 15rem;
  }
  .hero__image {
    width: 12rem;
    height: 12rem;
    margin-top: -15rem;
  }
}
@media (max-width: 300px) {
  .nav-column-mobile {
    width: 18rem;
  }
}
@media (min-width: 576px) {
  .hero__image {
    margin-top: -20rem;
  }
}
@media (min-width: 768px) {
  .nav {
    padding: 3rem 0;
  }
  .app-logo {
    height: 4rem;
  }
  .nav-column {
    display: flex;
  }
  .nav-column-mobile {
    display: none;
  }
  .hamburger-icon {
    display: none;
  }
  .hero__content-wrapper {
    width: 55%;
    margin-top: 12rem;
  }
  .hero__content {
    text-align: left;
  }
  .hero__title {
    font-size: 3.5rem;
  }
  .hero__links {
    justify-content: flex-start;
  }
  .btn--transparent {
    display: flex;
  }
  .hero__image-wrapper {
    background: url('../images/icons/bG-desktop.svg') no-repeat;
    background-size: cover;
    width: 45%;
    height: 50rem;
  }
  .hero__image {
    width: 25rem;
    height: 25rem;
  }
}
@media (min-width: 992px) {
  .hero__desc {
    max-width: 46rem;
  }
  .hero__honors {
    display: flex;
  }
  .hero__honor {
    padding: 2.8rem 3.6rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .section-subtitle {
    font-size: 2rem;
  }
  .hero__content-wrapper {
    margin-top: 2rem;
  }
  .hero__title {
    font-size: 5.6rem;
  }
  .hero__desc {
    font-size: 2rem;
    max-width: 51rem;
  }
  .hero__honor-title {
    font-size: 3.2rem;
  }
  .hero__image {
    width: 32rem;
    height: 32rem;
  }
}
@media (min-width: 1400px) {
  .hero__title {
    font-size: 6.5rem;
  }
  .hero__desc {
    font-size: 2.4rem;
    max-width: 61rem;
  }
  .hero__image {
    width: 35rem;
    height: 35rem;
  }
}
@media (min-width: 1600px) {
}
@media (min-width: 1900px) {
}
