@media (max-width: 420px) {
  .hero__image-wrapper {
    height: 15rem;
  }
  .hero__image {
    width: 12rem;
    height: 12rem;
    margin-top: -15rem;
  }
}
@media (max-width: 300px) {
  .nav-column-mobile {
    width: 18rem;
  }
  .offers-box {
    width: 100%;
    text-align: center;
  }
  .offers-box__image {
    width: 15rem;
    height: 15rem;
  }
  .offers-box__scoring {
    justify-content: center;
  }
  .offers-box__stars {
    margin-right: inherit;
  }
  .offers-box__reviews {
    margin-top: 1rem;
  }
  .offers-box__prices-wrapper {
    justify-content: center;
    margin-top: 0;
  }
  .offers-box__prices {
    margin-bottom: 1rem;
  }
}
@media (min-width: 576px) {
  .hero__image {
    margin-top: -20rem;
  }
}
@media (min-width: 768px) {
  .nav {
    padding: 3rem 0;
  }
  .app-logo {
    height: 4rem;
  }
  .nav-column {
    display: flex;
  }
  .nav-column-mobile {
    display: none;
  }
  .hamburger-icon {
    display: none;
  }
  .hero__content-wrapper {
    width: 55%;
    margin-top: 12rem;
  }
  .hero__content {
    text-align: left;
  }
  .hero__title {
    font-size: 3.5rem;
  }
  .hero__links {
    justify-content: flex-start;
  }
  .btn--transparent {
    display: flex;
  }
  .hero__image-wrapper {
    background: url('../images/icons/bG-desktop.svg') no-repeat;
    background-size: cover;
    width: 45%;
    height: 50rem;
  }
  .hero__image {
    width: 25rem;
    height: 25rem;
  }
  .blog__title {
    text-align: center;
  }
  .blog__content-wrapper {
    margin-top: 3rem;
  }
  .blog__banner {
    display: block;
  }
  .blog__content {
    width: 60%;
  }
  .blog__content-title {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .section-title {
    font-size: 4.8rem;
  }
  .section-subtitle {
    font-size: 2rem;
  }
  .hero__desc {
    max-width: 46rem;
  }
  .hero__honors {
    display: flex;
  }
  .hero__honor {
    padding: 2.8rem 3.6rem;
  }
  .special-offers {
    padding: 0;
    padding: 8rem 0 8rem 0;
  }
  .special-offers__subtitle {
    max-width: 50rem;
  }
  .special-offers__content {
    justify-content: space-between;
  }
  .offers-box {
    width: 30%;
  }
  .offers-box__title {
    font-size: 2.8rem;
  }
  .offers-box__prices {
    font-size: 3.2rem;
  }
  .blog {
    padding-bottom: 8rem;
  }
  .blog__banner {
    width: 50rem;
  }
  .blog__image {
    width: 100%;
  }
  .blog__content-link {
    display: block;
  }
  .blog__content-link--mobile {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .hero__content-wrapper {
    margin-top: 2rem;
  }
  .hero__title {
    font-size: 5.6rem;
  }
  .hero__desc {
    font-size: 2rem;
    max-width: 51rem;
  }
  .hero__honor-title {
    font-size: 3.2rem;
  }
  .hero__image {
    width: 32rem;
    height: 32rem;
  }
  .blog__content {
    width: 44%;
  }
  .blog__content-desc {
    font-size: 1.8rem;
  }
}
@media (min-width: 1400px) {
  .hero__title {
    font-size: 6.5rem;
  }
  .hero__desc {
    font-size: 2.4rem;
    max-width: 61rem;
  }
  .hero__image {
    width: 35rem;
    height: 35rem;
  }
  .blog__content-title {
    font-size: 2.4rem;
  }
}
@media (min-width: 1600px) {
}
@media (min-width: 1900px) {
}
